html,
body {
  margin: 0px;
}

.content {
  background-color: #0c0f15;
  height: 100vh;
}

.hide {
  display: none !important;
}

.vh90 {
  height: 90vh;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}