@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.title-text {
    color: white;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background-color: #ff0037;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}